{
  "name": "T9Launch",
  "description": "Android T9 应用启动器，支持中英文搜索",
  "language": "java",
  "ui_design": "Material Design 3",
  "rules": {
    "libs": [
      "com.github.promeg:tinypinyin",
      "androidx.appcompat:appcompat",
      "androidx.constraintlayout:constraintlayout",
      "androidx.recyclerview:recyclerview",
      "com.google.android.material:material"
    ]
  }
}
